body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
}

.container div {
    outline: solid black
}

.randomizer {
    position: absolute;
    top: 10px;
    left: 10px;
}